NODE_ENV=

# Application global config
APP_HOST=
APP_PORT=
IS_HOST_HTTPS=
CORS=
COOKIE_DOMAIN=

## Admin config
APP_ADMIN_USERNAME=
APP_ADMIN_PASSWORD=
APP_ADMIN_ROLE_ID=

SWAGGER_API_PATH=

PUBLIC_FOLDER=

MONGO_DATABASE_URI=

# User management module 
SECRET_HASH_KEY=

# Cloudinary
CLOUDINARY_URL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_ROOT_FOLDER=[DEV]_OOP_LEARNEE

# Authentication module
AUTH_CORE_ACCESS_TOKEN_SECRET_KEY=
AUTH_CORE_ACCESS_TOKEN_EXPIRED=
AUTH_CORE_REFRESH_TOKEN_SECRET_KEY=
AUTH_CORE_REFRESH_TOKEN_EXPIRED=

# Role management module
ROLE_AUTHENTICATION_ADMIN_ROLE_ID=

# Test examnination
TEST_EXAMNIMATION_CORE_SESSION_URL=

# Facebook authentication
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
FACEBOOK_MAIL_VERIFICATION_ENDPOINT=

# Google authentication
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_AUTH_REDIRECT=

# Mail verification module
MAIL_VERIFICATION_SERVICE_ENDPOINT=

# Facebook chatbot
APP_IP=
APP_PASSWORD=

PAGE_ACCESS_TOKEN=
PAGE_VERIFY_TOKEN=
FACEBOOK_HOOK_URI=
FACEBOOK_HOOK_PROFILE=
FACEBOOK_HOOK_USER_SETTINGS=

# NLP
TRUST_THRESHOLD=
ASK_THRESHOLD=

# Other
WEB_SITE=