NODE_ENV=<env>

# Application global config
APP_HOST=localhost
APP_PORT=3000
IS_HOST_HTTPS=false
CORS=localhost,azurestaticapps
COOKIE_DOMAIN=localhost

## Admin config
APP_ADMIN_USERNAME=admin
APP_ADMIN_PASSWORD=admin
APP_ADMIN_ROLE_ID=<id>

SWAGGER_API_PATH=api

PUBLIC_FOLDER=public

MONGO_DATABASE_URI=<mongodb database uir>

# User management module 
SECRET_HASH_KEY=secretkey

# Cloudinary
CLOUDINARY_URL=<upload link>
CLOUDINARY_CLOUD_NAME=<name>
CLOUDINARY_API_KEY=<key>
CLOUDINARY_API_SECRET=<secret key
CLOUDINARY_ROOT_FOLDER=[DEV]_OOP_LEARNEE

# Authentication module
AUTH_CORE_ACCESS_TOKEN_SECRET_KEY=accesstokensecrekey
AUTH_CORE_ACCESS_TOKEN_EXPIRED=300
AUTH_CORE_REFRESH_TOKEN_SECRET_KEY=refreshtokensecrekey
AUTH_CORE_REFRESH_TOKEN_EXPIRED=365d

# Role management module
ROLE_AUTHENTICATION_ADMIN_ROLE_ID=<id>

# Test examnination
TEST_EXAMNIMATION_CORE_SESSION_URL=http://localhost:8080/tests

# Facebook authentication
FACEBOOK_APP_ID=<app id>
FACEBOOK_APP_SECRET=<app secret>
FACEBOOK_MAIL_VERIFICATION_ENDPOINT=/auth/verify

# Google authentication
GOOGLE_CLIENT_ID=<google id>
GOOGLE_CLIENT_SECRET=<google client secret>
GOOGLE_AUTH_REDIRECT=http://localhost:8080

# Mail verification module
MAIL_VERIFICATION_SERVICE_ENDPOINT=<link>

# Facebook chatbot
APP_IP=<chatbot id>
APP_PASSWORD=<chatbot password>

PAGE_ACCESS_TOKEN=<page access token>
PAGE_VERIFY_TOKEN=@dmin123
FACEBOOK_HOOK_URI=https://graph.facebook.com/v2.6/me/messages
FACEBOOK_HOOK_PROFILE=https://graph.facebook.com/v2.6/me/messenger_profile
FACEBOOK_HOOK_USER_SETTINGS=https://graph.facebook.com/v11.0/me/custom_user_settings

# NLP
TRUST_THRESHOLD=0.7
ASK_THRESHOLD=0.3

# Other
WEB_SITE=http://localhost:3000/
